.categorylist {
    height: 100%;

    background: var(--color-accent-bg-darker);

    border-radius: 8px 0 0 8px;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.1);

    padding: 0.5rem;
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.categorylist__item {
    outline: none;
    border: none;
    background: none;

    cursor: pointer;

    font-size: 100%;
}

.categorylist__item:hover {
    font-weight: bold;
}